body {
    font-family: 'Roboto', sans-serif;
}

.css_header {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem 0 0.5rem 0rem;
    box-shadow: 0 6px 10px rgb(0 0 0 / 11%);
}

main {
    background: #FFFFFF;
}

.css_search_form {
    border: #FFFFFF;
    border-radius: 0%;
    border-bottom: 1px solid rgba(85, 87, 88, 0.5);
    ;
}

.container_restauran {
    background-color: #FFFFFF;
}

.container_restauran:hover {
    background-color: rgb(117, 117, 117, 0.04);
}

.container_restaurant_cards img {
    width: 100%;
    min-height: 21rem;
}

.container_restaurant_info {
    margin-top: 1.5rem;
}

.container_restaurant_info h5 {
    margin-bottom: 0.5rem;
}

.container_restaurant_info_food {
    margin-bottom: 0.5rem;
    color: #626262;
}

.container_restaurant_info_time {
    margin-bottom: 1rem;
}

footer {
    background-color: #262626;
}

.css_footer_logo {
    border-bottom: 2px solid rgba(85, 87, 88, 0.5);
}

.css_footer_links {
    border-bottom: 2px solid rgba(85, 87, 88, 0.5);
}

.css_footer_links {}

.css_footer_language {
    text-align: left;
}

.css_footer_language_btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.css_footer_language_btn p {
    margin-bottom: 0;
}

.css_footer_partner {
    text-align: left;
}

.css_footer_menu {
    text-align: left;
}


/* .css_footer_logo_mini {
    text-align: left;
}

.css_footer_icons {
    text-align: left;
} */

.css_footer_google_aple_shop {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgba(85, 87, 88, 0.5);
}

.css_footer_copyright {
    font-size: 11px;
}